:root {
    --main-font: 'Roboto', sans-serif;
    --second-font: 'Caesar Dressing', sans-serif;
    --third-font: 'PT Sans', sans-serif;
    --libre-font: 'Libre Baskerville', sans-serif;
    --bg: #f1f1f1;
    --bg-darker: #a5a5a5;
    --bg-75: #f1f1f1cc;
    --footer-bg: #51515188;
    --hun-flag: linear-gradient(to bottom, #ff000066 0%, #ff000066 33%, #ffffffaa 33%, #ffffffaa 66%, #00ff0066 66%, #00ff0066 100%);
    --gray-bg: #c5c0c0;
    --text-gold: #b27549;
    --box-bg: #e7e4e4;
    --red: #7a222e;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;

}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg);
    min-width: 300px;
}

/* ALL BUTTON */
section {
    min-height: 100vh;
    width: 100%;
    background-color: var(--bg);

}


/*  ALL BUTTON */
.btn {
    display: flex;
    align-items: center;
    color: var(--bg);
    padding: 2rem;
    border: none;
    border-radius: 8px;
    background-color: var(--red);
    font-family: var(--libre-font);
    font-weight: 700;
    font-size: 1.7rem;
    transition: .2s ease;
    width: fit-content;
    cursor: pointer;
    user-select: none;
    border: 3px solid var(--red);
    height: 50px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.7);
}

.btn:active,
.btn-scroll:active {
    transform: scale(0.9);

}


.btn:hover {
    color: var(--red);
    background-color: var(--bg);
    border: 3px solid var(--red);
}


/*  ALL HEADING */
.heading {
    text-align: center;
    padding-top: 8rem;
    font-size: 4rem;
    font-family: var(--second-font);
    position: relative;
    z-index: 100;
}

.heading::after {
    content: "";

    width: 300px;
    height: 80px;

    background: var(--hun-flag);
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    border-radius: 10px;
}

.heading::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    background-image: url(../assist/icons/pngwing.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 10001;
    color: #000;
}










/* ========== NAVBAR SECTION ========== */


.navbar {
    position: fixed;
    top: 40px;
    width: 100%;
    align-items: center;
    transition: top 0.3s, background-color 0.3s;
    z-index: 999;
    align-items: center;
    background-color: var(--red);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    color: #fff;

}

.sub_navbar {
    top: 0px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1400px;
    position: relative;
   
}



.scrolled {
    top: 0px;
    background-color: var(--red);
    width: 100%;

}

.menu-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header-left,
.header-right {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 1rem;
}

.header-left a,
.header-right a {
    text-transform: capitalize;
    display: inline-block;
    font-family: var(--libre-font);
    color: var(--bg-75);
    font-size: 1.6rem;
    font-weight: 600;
    transition: .3s ease;

}

.header-left a:hover,
.header-right a:hover {
    transform: scale(1.1);
    color: #000;
    border-radius: 10px;

}

.header-right {
    position: relative;

}


/*  hamburger close btn */
.close-menu-btn {
    height: 35px;
    width: 35px;
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    border: none;
    transition: 0.5s ease;
}

.close-menu-btn:hover {
    transform: scale(1.4);
}

.close-menu-btn::before,
.close-menu-btn::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 2px;
    background-color: #fff;
}



.close-menu-btn::before {
    transform: rotate(45deg);
}

.close-menu-btn::after {
    transform: rotate(-45deg);
}



.firstLinkWrapper {
    position: relative;
}

/* submenu */
.firstLinkWrapper:hover+.header_products-sublist {
    visibility: visible;
    opacity: 1;

}

.header_products-sublist:hover {
    visibility: visible;
    opacity: 1;
}

.header_products-sublist {
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding: 1rem;
    top: 50px;
    left: 0;
    border: 2px solid var(--red);
    background-color: var(--box-bg);
    flex-direction: column;
    width: 150px;
    height: auto;


}

.header_products-sublist ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

}

.header_products-sublist li {
    border-bottom: 2px solid var(--text-gold);
    text-align: center;
}

.header_products-sublist li a {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--text-gold);
}

.navbar .header-button {
    display: none;
}


.logo {
    display: flex;
    flex-direction: row;

    align-items: center;
    margin: 1rem 2rem;
    flex-wrap: nowrap;
}

.logo img {
    width: 4rem
}

.title {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-left: 2rem;
    text-align: center;
    overflow: hidden;
    width: 100%;
}


.logo h1 {
    font-family: var(--second-font);
    font-size: 2.3rem;


}

.logo span {
    font-family: var(--libre-font);
    font-weight: 500;
    font-size: 1.2rem;


}









/* ========== HOME SECTION ========== */

.home {
    min-height: 100vh;
    background: linear-gradient(var(--bg-75), var(--bg-75)), url(../assist/img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 10px #00000077;
    margin-bottom: 20px;


}

.head_section {

    display: flex;
    justify-content: end;
    height: 40px;
    align-items: center;
    background-color: transparent;
    color: #000;
    margin: 0 2rem;
}

.head-content {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 0 2rem;
    font-family: var(--third-font);
    font-weight: 600;
    width: 650px;

}

.icon,
.icon-soc {
    font-size: 1.8rem;
    color: #000;
    transition: .3s ease;

}

.social-icon {
    width: 2rem;
    transition: .3s ease;
}

.social-icon:hover {
    transform: scale(1.2);

}

.head-text-content span {
    margin-left: 1rem;
}

.head-text-content a:hover,
.icon-soc:hover {
    transform: scale(1.2);
    color: rgb(255, 255, 255);
}

.head-text-content {
    display: flex;
    align-items: center;
    gap: .5rem;

}

.head-text-content a {
    color: #000;
    font-family: var(--third-font);
    font-size: 1rem;
    transition: .3s ease;
}

.home_content {
    height: 100%;
    padding: 8rem 2rem 2rem;
    display: flex;
    justify-content: center;

    gap: 2rem;
}

.home-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 2rem;
    font-family: var(--libre-font);
}

.btn-group {
    margin-top: 2rem;
    height: 100px;
    display: flex;
    width: 100%;
    gap: 3rem;

}

.home-btn {
    padding: 1.5rem 1rem;
    height: 30px;
    text-align: center;
    justify-content: center;
    font-size: 1.3rem;
    width: 35%;

}

.home-left h1 {
    font-size: 5rem;
    margin-bottom: 1.5rem;

    /*  text-shadow:5px 8px #2f2f2f33; */
}

.home-left h3 {
    font-size: 1.8rem;
    font-family: var(--libre-font);
}

.home-left p {
    font-size: 1.3rem;
    margin-top: 1.5rem;
    line-height: 1.4rem;
    font-family: var(--third-font);
}

.home-right {
    display: flex;
    align-items: center;
    width: 50%;
    padding: 1rem;

}

.home-right img {
    width: 100%;


  /*   border: 4px solid #000000cd; */
  /*   border-radius: 5px; */
    margin: 2rem;
    max-width: 700px;
    box-shadow: 10px 10px 20px #000000dd;

}
















/* ========== ABOUT SECTION ========== */

.about {
    min-height: 100vh;
    background-color: var(--bg);



}

.about .content {
    max-width: 1600px;
    padding: 3rem 4rem;
    margin: 0 auto;


}

.about .content h1,
.about .content h2 {
    text-align: center;
    margin: 2rem 0;
    font-size: 2.4rem;
    font-family: var(--third-font);
    color: var(--text-gold);
}

.about .content p {
    font-size: 1.3rem;
    font-family: var(--third-font);
    padding: 1rem 0;

}










/* ========== GALERY SECTION ========== */

.galery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.galery_container {
    padding: 5rem;
    /*   max-width: 1400px; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
}


.galery_content-box {

    width: 350px;
    height: 350px;
    background-color: #e7e4e4;
    /*  border: 2px solid #2a2a2a; */
    /* border-radius: 5px; */
    box-shadow: 5px 5px 10px #00000077;
    overflow: hidden;
    position: relative;
    z-index: 101;
    transition: .4s ease;
    cursor: zoom-in;
}

.galery_content-box img {
    width: 100%;
    height: 100%;
    z-index: 100;


}

/* .galery_content-box::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../assist/icons/icons8-zoom-64.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 100;

    opacity: 0;
}

.galery_content-box:hover::before {
    opacity: 1;

} */

.galery_content-box:hover {
    transform: scale(1.05);

}

.lightbox {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    z-index: 1000;
    visibility: hidden;
    transition: .3s;
}

.lightbox img {
    position: relative;
    height: 600px;
    width: 600px;
    border: 3px solid #2a2a2a;
    border-radius: 10px;
}

.close-icon {
    position: absolute;
    top: 3rem;
    right: 3rem;
    font-size: 5rem;
    color: #e0dfdf;

}





/* side */
.side-wrapper {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg);
}

.side {
    height: 350px;
    width: 100%;
    background-color: var(--gray-bg);
    box-shadow: 0 0 20px #000000dd;
    text-align: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.side h1 {
    width: 700px;
    font-size: 1.3rem;
    text-transform: uppercase;
}


/* ========== PRODUCT SECTION ========== */

.products,
.sub_products {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.product_container {
    padding: 5rem 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
}

.product_container img {
    width: 100%;
}

.sub_product_content-box {
    width: 300px;
}

.product_content-box,
.sub_product_content-box {
    position: relative;
    width: 420px;
    height: 800px;
    background-color: var(--box-bg);
    /* border: 2px solid #2a2a2a; */
    border-radius: 3px;
    box-shadow: 5px 5px 10px #00000077;
    overflow: hidden;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;

    padding: 2rem;

}

.product_content-box h3 {
    color: var(--text-gold);
    font-family: var(--main-font);
    margin-bottom: 2rem;
    font-size: 1.1rem;
}

.product_content-box h1 {
    font-size: 3rem;
    font-family: var(--main-font);
    margin-bottom: 3rem;
}

.product_content-box p {
    font-size: 1.1rem;
}

.product_btn-wraper {
    position: absolute;
    bottom: 20px;
    width: 100%;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
}

.product-btn {
    text-align: center;

}

.product-list {
    text-align: start;
    display: flex;
    align-items: start;
    width: 100%;
    margin: 2rem 0;
    color: var(--text-gold);

}

.product-list li {
    list-style: inside;
    font-size: 1.6rem;
    line-height: 2rem;
}

.product-list li a {
    cursor: pointer;
    color: var(--text-gold);
}

.product-list li a:hover {
    text-decoration: underline;
}









/* ========== INDUSTRY SECTION ========== */

.industry_content {
    padding: 3rem 10rem;
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
    max-width: 1600px;
    margin: 0 auto;
}

.industry_content h3 {
    display: inline-block;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--text-gold);
    font-family: var(--third-font);
}

.industry_content p {
    font-size: 1.3rem;
    line-height: 2rem;
    margin-bottom: 2rem;
    font-family: var(--third-font);
}

.industry .heading::after {
    width: 398px;
}



/* ========== CONTACT SECTION ========== */

.contact-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    max-width: 1600px;
    margin: 2rem auto 0;
    height: 100%;

}

.contact-left {
    padding: 2rem;
    width: 50%;
    font-family: var(--main-font);
}

.group-title h1 {

    font-size: 4rem;
}

.group-title h2,
.group-title span {
    font-size: 3rem;
    margin: 2rem 0 0;
    color: var(--text-gold);
}

.group-title span {
    font-size: 1.8rem;
}

.group-title p {

    font-size: 1.3rem;
    margin: 1.7rem 0;
}

#c-text {
    display: none;
}

.contact-right {
    padding: 2rem;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.group-cont {
    display: flex;

    gap: 2rem;
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.group i {
    font-size: 3rem;
    margin-right: 1rem;
    color: var(--red);
}

.group h1 {
    color: var(--footer-bg);
    font-size: 2rem;
}

.group span {
    color: var(--text-gold);
    font-size: 1.4rem;
}






.form__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.requerd {
    color: var(--red);
    font-size: 1.3rem;
    font-weight: 500;
}

.form__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
}

.form__group {
    position: relative;

}

.form__label {
    font-family: var(--main-font);
    padding-inline: 5px;
    text-transform: capitalize;
    font-size: 1.3rem;
    color: var(--red);
}

.form__input {
    width: 100%;
    margin-top: .5rem;
}

.input-primary {
    outline: none;
    border: 2px solid var(--red);
    border-radius: 8px;
    height: 50px;
    font-family: Arial, sans-serif;
    font-size: calc(1rem *1.1);
    color: #000;
    padding-inline: 5px;
    padding-left: 10px;
    background-color: transparent;

}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

textarea.form__input {
    resize: vertical;
    padding-block: 5px;
    min-height: 150px;
}

.form__status-box {
    height: 1.2rem;
    color: var(--red);
}

.form__status-box p {
    font-size: 1.2rem;

    font-weight: 500;

}






/* ========== FOOTER SECTION ========== */

footer {
    width: 100%;

    color: #fff;
    height: 30vh;
    background: linear-gradient(var(--footer-bg), var(--footer-bg)), url("../assist/img/zipper-stitching-cowhide-leather-bag-generated-by-ai.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);

}

.footer_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.footer-group {
    display: flex;
    justify-content: space-between;
}

.footer-left {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    margin: 3rem 0 0 10rem;

}

.footer-left a {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;

}

.footer-right {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 3rem 10rem 0 0;
}

.footer-right a {
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer-right img {
    width: 60px;
}

.footer-left a:hover {
    text-decoration: underline;
}

.footer_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    padding: 1rem 0;
}

.footer_bottom a {
    color: #a3a3a3;
}

.btn-scroll {
    display: flex;
    align-items: center;
    color: var(--bg);
    border: none;
    border-radius: 8px;
    background-color: var(--red);
    font-family: var(--libre-font);
    font-weight: 700;
    font-size: 1.7rem;
    transition: .2s ease;
    width: fit-content;
    cursor: pointer;
    user-select: none;
    border: 3px solid var(--red);

}

.scroll-up {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 3rem;
    height: 3rem;
    padding: 1rem;
    opacity: 0;
    background-color: var(--bg);
    border: 3px solid var(--red);
    justify-content: center;
}

.scroll-up i {
    font-size: 2rem;
    color: var(--red);
}

.scroll-up.show {
    bottom: 30px;
    opacity: 1;
    z-index: 100000000;
    pointer-events: all;

}